<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h1 class="display-3 mb-4">Pozdravljeni v knjižnici</h1>
      <p class="lead">
        Tu si lahko ogledate zbirko knjig s področja grafične industrije, če vas še karkoli zanima, pošljite sporočilo v kontaktih.
      </p>
      <hr class="my-4">
      <p class="text-muted">
        Trenutno število knjig v zbirki:
        <strong *ngIf="!loading; else loadingText">
          {{ totalBooks }}
        </strong>
        <ng-template #loadingText>
          <span class="spinner-border spinner-border-sm"></span>
        </ng-template>
      </p>
    </div>
  </div>
</div>
